<nav {% if page.hero %}class="hero-on"{% endif %}>
    <a id="navlogo" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
            <defs>
                <style>
                    .nav-logo-shapes{stroke-miterlimit:10;stroke-width:50px;}
                </style>
            </defs>
            <path class="nav-logo-shapes" d="M768,457.83c0-141.38-114.62-256-256-256s-256,114.62-256,256a254.83,254.83,0,0,0,40,137.46V457.83a216,216,0,1,1,432,0V595.29A254.83,254.83,0,0,0,768,457.83Z"/>
            <polygon class="nav-logo-shapes" points="296 457.83 296 730.47 276 710.47 256 730.47 256 457.83 296 457.83"/>
            <polygon class="nav-logo-shapes" points="768 801.33 768 457.83 728 457.83 728 595.29 728 822.17 768 801.33"/>
        </svg>
        nproxy
    </a>
    <a id="login-btn" href="login">Login/Register</a>
    <a id="dash-btn" href="dash">Dashboard</a>
    <a id="donate" href="https://ko-fi.com/xilog">
        <i class="fas fa-hand-holding-usd fa-flip-horizontal"></i>
        <span class="text">Donate</span>
    </a>

    <div class="menu" style="display: none; color: white"><i class="fas fa-bars"></i></div>
</nav>