<!--
    nproxy is open source
    https://github.com/XilogOfficial/nproxy
-->

<!DOCTYPE html>
<html lang="en">
{% include head.html %}


<body class="parallax">
    {% include hero.html %}
    
    <div class="content"> 
        {{ content }}
    </div>
    
    {% include footer.html %}
    
    <!-- MODALS BELOW -->
    <a href="#top"></a><div class="scrollup">
        <i class="fa fa-chevron-up" style="font-size: 2em; color: white"></i>
    </div></a>
    
    <div class="modal" id="loader-bg">
        <p3>Loader stuck? Disable jQuery blocking.</p3>
        <div id="loader">
            <svg id="loader-n" data-name="Layer 1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <style>
                        .loader-n-shapes {
                            stroke-miterlimit: 10;
                            stroke-width: 15px;
                        }
                    </style>
                </defs>
                <path class="loader-n-shapes" d="M768,568.29c0-141.38-114.62-256-256-256s-256,114.62-256,256a254.84,254.84,0,0,0,40,137.46V568.29c0-119.3,96.71-216,216-216s216,96.7,216,216V705.75A254.84,254.84,0,0,0,768,568.29Z"/>
                <polygon class="loader-n-shapes" points="296 568.29 296 840.93 276 820.93 256 840.93 256 568.29 296 568.29"/>
                <path class="loader-n-shapes" d="M728,705.75V914.86a452.61,452.61,0,0,0,40-24.19V568.29H728Z"/>
            </svg>
            <svg id="loader-o" data-name="Layer 1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                <path class="loader-o-shapes" d="M512,55A457.13,457.13,0,0,1,689.87,933.11,457.13,457.13,0,0,1,334.13,90.89,454.2,454.2,0,0,1,512,55m0-55C229.23,0,0,229.23,0,512s229.23,512,512,512,512-229.23,512-512S794.77,0,512,0Z"/>
            </svg>
        </div>
    </div>
    
    <div class="modal" id="menu-bg" style="display: none">
        <div id="menu">
            <a class="m-close"><i class="fas fa-times"></i> Close</a>
        </div>
    </div>
    
    <!-- if JS off -->
    <noscript>
        <div style="background-color: #fff; z-index: 9999999999999999999999999; position: absolute; left:0;top:0">
            <h1>
                You should enable JavaScript! This website relies on it.
            </h1>
        </div>
        
    </noscript>
</body>

</html>