<!--
    nproxy is open source
    https://github.com/XilogOfficial/nproxy
-->

<!DOCTYPE html>
<html lang="en">
{% include head.html %}


<body class="parallax">
    {% include hero.html %}
    
    <div class="content"> 
        {{ content }}
    </div>

    {% include footer.html %}
    
    <!-- MODALS BELOW -->
    <a href="#top"></a><div class="scrollup">
        <i class="fa fa-chevron-up" style="font-size: 2em; color: white"></i>
    </div></a>
    
    <div class="modal" id="loader-bg">
        <p3>Loader stuck? Disable jQuery blocking.</p3>
        <div id="loader">
            <svg id="loader-n" data-name="Layer 1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                <path class="cls-2" d="M768,612c0-141.38-114.62-256-256-256S256,470.62,256,612a254.83,254.83,0,0,0,40,137.46V612a216,216,0,1,1,432,0V749.46A254.83,254.83,0,0,0,768,612Z"/>
                <polygon class="cls-2" points="296 612 296 884.64 276 864.64 256 884.64 256 612 296 612"/>
                <polygon class="cls-2" points="768 955.5 768 612 728 612 728 749.46 728 976.34 768 955.5"/>
            </svg>
            <svg id="loader-o" data-name="Layer 1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                <path class="cls-1" d="M512,40A472.13,472.13,0,0,1,695.71,946.92,472.13,472.13,0,0,1,328.29,77.08,468.83,468.83,0,0,1,512,40m0-40C229.23,0,0,229.23,0,512s229.23,512,512,512,512-229.23,512-512S794.77,0,512,0Z"/>
            </svg>
        </div>
    </div>
    
    <div class="modal" id="menu-bg" style="display: none">
        <div id="menu">
            <a class="m-close"><i class="fas fa-times"></i> Close</a>
        </div>
    </div>

    <!-- if JS off -->
    <noscript>
        <div style="background-color: #fff; z-index: 9999999999999999999999999; position: absolute; left:0;top:0">
            <h1>
                You should enable JavaScript! This website relies on it.
            </h1>
        </div>

    </noscript>
</body>

</html>